h1 {
  color: #000;
}

#buat-janji {
  margin-top: 30px;
}

#simpanJadwal {
  color: black; /* Warna teks hitam */
}


#appointment-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* border: 1px solid #000; */
}

label {
  font-size: 0.6em;
}
